body{
    text-align: center;
    padding: 20px;
}

header{
    font: normal 10pt Lucida Handwriting;
}

input[type = button]{
    font: normal 15pt monospace;
    width: 300px;
    padding: 20px;
    font-weight: bold;
    border-radius: 30px;
    color: black;
}

div#res{
    text-align: left;
    padding-left: 30px;
    font: normal 13pt monospace;
    
}